a.button
{
    padding: 0.6rem;
}


#navbar
{
    display: none;
}


#menu
{
    display: flex;
}


#intro
{

    background-position: center bottom;

    height: 45rem;
}

#intro_logo
{
    left: 0.8rem;
}

#intro .layer .logo
{
    width: 9.0rem;
}

#intro .layer h1
{
    width: 95%;

    white-space: normal;
}

#intro .layer p
{
    width: 19.0rem;
}

#intro .layer a
{
    width: 8.0rem;
}


#pitch_decoration
{
    top:  0%;
    left: 5%;
}

#pitch .decoration
{
    opacity: 0.15;

    width: 20.0rem;
}

#pitch .questions li
{
    margin-top:    1.0rem;
    margin-bottom: 1.0rem;
    line-height:   1.5rem;
}

#pitch p
{
    width: 95%;
}


#seewhy .video
{
    width:      100%;
    margin-top: 2.0rem;
}

#seewhy .video iframe
{
    width:  100%;
    height: calc(100vw * 0.63);
}


#highlights .group
{
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     flex-start;
}

#highlights .group .item
{
    width: 18.0rem;
}

#highlights .group .item h2
{
    text-align: center;
}

#highlights .group .item p
{
    text-align: center;
}


#experience_details
{
    left: 0;
    top:  7%;
}

#experience .desk
{
    background-image:    url("media/experience_desk.small.jpg");
    background-position: center bottom;

    height: 54.0rem;
}

@media screen and (min-width: 750px)
{
    #experience .desk
    {
        height: 64.0rem;
    }
}

#experience .desk .details
{
    width:        calc(100% - 3.0rem);
    padding-left: 1.5rem;
}

#experience .desk .details h2
{
}


#whoweare .body
{
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
}

#whoweare .body .profile
{
    width:     70%;
    height:    32rem;
    max-width: 25rem;
}


#cur_details
{
    left: 7%;
    top:  1.8rem;
}

#cur .desk
{
    background-image: url("media/cur_desk.small.jpg");

    height: 60.0rem;
}

#cur .desk .details
{
    width:        90%;
    padding-left: 0.0rem;
}


#packages .table .cell:first-child
{
    display: none;
}

#packages .table .header:nth-child(2)
{
    border-left-color: var(--border-color);
}

#packages .table .feature
{
    border-left-color: var(--border-color);

    width: 100%;

    text-align: center;

    align-items: center;
}

#packages .table .feature + div
{
    border-left-color: var(--border-color);
}

#packages .payment-ways h4 {
    width: 80%;
}

#packages .payment-ways p {
    width: 80%;
    font-size: 160%;
}

#packages .payment-ways .point {
    width: 25%;
}

@media all and (max-width: 668px) {
    #packages .payment-ways h4 {
        width: 90%;
        font-size: 160%;
    }
    #packages .payment-ways p {
        width: 90%;
        font-size: 150%;
    }

    #packages .payment-ways .bullet-points {
        flex-direction: column;
        align-items: center;
    }

    #packages .payment-ways .point {
        width: 70%;
        margin: 20px 40px 40px;
    }
}

@media all and (max-width: 400px) {
    #packages .payment-ways h4 {
        font-size: 140%;
    }
    #packages .payment-ways p {
        font-size: 130%;
    }

    #packages .payment-ways .point {
        width: 80%;
    }

    #packages .payment-ways .point img {
        width: 100px;
    }
}


#testimonials .wheel
{
    height: 40.0rem;

    justify-content: center;
}

@media screen and (max-width: 425px)
{
    #testimonials .wheel
    {
	align-items: flex-start;
    }
}

#testimonials .wheel .content
{
    height: 40.0rem;
}

#testimonials .wheel .content .statement
{
    flex-direction:  column;
    justify-content: flex-start;
}


#footer .left
{
    width:       70%;
    margin-left: 0.5rem;

    white-space: nowrap;
}

#footer .right
{
    margin-right: 0.5rem;
}


#banner .content
{
    margin: 20% auto 15% auto;
    width:  81%;
}

#banner a
{
    width: 60%;
}


/*------------------------------------------------------------------*/
/*------------ START INTERVIEW PAGE -------------------------------*/
/*----------------------------------------------------------------*/

#interview #intro {
    background-position: center 90px;
}

#interview #what_happens .wrapper {
    max-width: 420px;
}

#interview #what_happens:before {
    left: 3%;
    width: 14rem;
}


#interview #what_happens:after {
    right: 3%;
    width: 14rem;
}

#interview #our_benefits .row {
    flex-direction: column;
    align-items: center;
}

#interview #our_benefits .col {
    width: 70%;
}

#interview #you_will_get .col {
    width: 50%;
}

#interview #request_simulation .simulation-modal-content {
    width: 70%;
}

@media all and (max-width: 668px) {
    #interview #intro .banner {
        background-position: -100px -90px;
    }

    #interview #intro .layer #intro_box {
        bottom: 15%;
    }

    #interview #what_happens .wrapper {
        max-width: 80%;
    }

    #interview #what_happens:before {
        left: -13%;
        width: 13rem;
    }


    #interview #what_happens:after {
        right: -13%;
        width: 13rem;
    }

    #interview #our_benefits .col {
        width: 90%;
    }

    #interview #you_will_get .col {
        width: 90%;
    }

    #interview #intro .layer #intro_box {
        padding: 0 30px;
    }

    #interview_thank_you .social_media_btns a
    {
        margin: 0px;
        width: 3em;
        padding: 0 1em;
    }

    #interview_thank_you .social_media_btns img
    {
        height: 2.0rem;
    }

   #interview_thank_you #intro .layer h2{
        padding-bottom: 0;
        font-size: var(--menu-links-font-size);
    }
}

/*------------------------------------------------------------------*/
/*-------------- END INTERVIEW PAGE -------------------------------*/
/*----------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*------------- START COACHING PAGE -------------------------------*/
/*----------------------------------------------------------------*/

#coaching #intro {
    background-position: center 90px;
}

#coaching #what_happens .wrapper {
    max-width: 70%;
}

#coaching #what_happens:before {
    left: -7%;
    width: 17rem;
}


#coaching #what_happens:after {
    right: 0;
    width: 14rem;
    bottom: 35%;
}

#coaching #what_happens h3 {
    font-size: var(--navbar-font-size);
}

#coaching #what_happens .our_benefits .row {
    flex-direction: column;
    align-items: center;
}

#coaching #what_happens .our_benefits .col {
    width: 85%;
    margin-bottom: 70px;
}

#coaching #you_will_get .col {
    width: 50%;
}

#coaching #request_simulation .simulation-modal-content {
    width: 70%;
}

#coaching #what_happens p.arrowed {
    padding: 5px 0 8px 25px;
}

@media all and (max-width: 668px) {
    #coaching #intro .banner {
        background-position: -200px -90px;
    }

    #coaching #intro .layer #intro_box {
        bottom: 15%;
    }

    #coaching #what_happens .wrapper {
        max-width: 80%;
    }

    #coaching #what_happens:before {
        left: -7%;
        width: 10rem;
        top: 26%;
    }

    #coaching #what_happens:after {
        right: -9%;
        width: 12rem;
        bottom: 24%;
    }

    #coaching #what_happens .our_benefits {
        width: 80%;
    }

    #coaching #our_benefits .col {
        width: 90%;
    }

    #coaching #you_will_get .col {
        width: 85%;
    }

    #coaching #intro .layer #intro_box {
        padding: 0 30px;
    }

    #coaching #you_will_get .col img {
        margin: 0 0 5px;
    }

    #coaching #you_will_get {
        margin: 0 0 50px;
    }
}

@media all and (max-width: 400px) {
    #coaching #what_happens:before {
        left: -7%;
        width: 10rem;
        top: 26%;
    }

    #coaching #what_happens:after {
        right: -9%;
        width: 12rem;
        bottom: 20%;
    }
}

/*------------------------------------------------------------------*/
/*--------------- END COACHING PAGE -------------------------------*/
/*----------------------------------------------------------------*/



/*------------------------------------------------------------------*/
/*------------- START COACHING PAGE -------------------------------*/
/*----------------------------------------------------------------*/

#landing #intro {
    height: 60rem;
}

#landing #intro_box {
    top: 20%;
}

#landing #intro .layer a {
    margin-top: 3rem;
}

#landing .second-page:before {
    left: -10%;
}


#landing .second-page:after {
    right: -3%;
}

#landing #request_simulation .simulation-modal-content {
    width: 70%;
}

@media all and (max-width: 668px) {

    #landing .second-page {
        padding: 80px 0;
    }

    #landing .second-page:before {
        left: -10%;
        width: 13rem;
    }


    #landing .second-page:after {
        right: -3%;
        width: 13rem;
    }

    #landing .second-page p {
        width: 70%;
    }

    #landing .second-page .button {
        bottom: 10%;
    }

    #landing .third-page h2 {
        width: 90%;
        font-size: 210%;
    }

    .countdown-container h3 {
        /*background-color: #f5f5f5;*/
        padding: 8px;
        border-radius: 8px;
    }
}

@media all and (max-width: 440px) {

    .countdown-container {
        margin-top: 6.3rem;
    }

    .countdown-container h2 {
        margin: 24px 24px 12px;
    }

    .countdown-container li {
        font-size: 80%;
        font-weight: 500;
        width: 70px;
        height: 60px;
    }
}

@media all and (max-width: 400px) {

    #landing #intro .layer h1 {
        font-size: 190%;
        width: 80%;
    }

    #landing #intro .layer a {
        width: 9rem;
	margin-top: 0rem;
    }

    #landing .second-page p {
        font-size: 110%;
    }
}

/*------------------------------------------------------------------*/
/*--------------- END LANDING PAGE -------------------------------*/
/*----------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*------------ START WEBINAR THANK YOU PAGE -----------------------*/
/*----------------------------------------------------------------*/

#webinar_thank_you #intro_box
{
    top: 22%;
}

#webinar_thank_you .social_media_btns a
{
    margin: 0px;
    width: 3em;
    padding: 0 1em;
}

#webinar_thank_you .social_media_btns img
{
    height: 2.0rem;
}

#webinar_thank_you #intro .layer h2
{
    padding: 0rem 5rem 0rem 5rem;
    font-size: var(--menu-links-font-size);
}

#emailopening h3
{
    max-width: 100%;
    margin: 10px;
}

#emailopening .video iframe
{
    width:  100%;
    height: calc(100vw * 0.63);
}
